.custom-input {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 8px;
    margin-bottom: 10px;
}

.etiq {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.etiq img {
    display: block;
    max-width: 100%;
    height: auto;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 0;
    box-sizing: border-box;
    margin: 2% auto;
}

footer p {
    margin-top: 2%;
}